In [3]:
# ts_config.py
import os
from dotenv import load_dotenv
import logging
import pandas as pd
import duckdb
import tushare as ts
from datetime import datetime
from pathlib import Path
import json

# 加载 .env 文件
ENV_PATH = '/Users/robert/.env'
load_dotenv(dotenv_path=ENV_PATH)

# 获取 Tushare Token
TUSHARE_TOKEN = os.getenv('TUSHARE_TOKEN')
if not TUSHARE_TOKEN:
    raise ValueError("Tushare Token 未在 .env 文件中找到，请检查配置")

# 配置 Tushare
ts.set_token(TUSHARE_TOKEN)
PRO_API = ts.pro_api()

def pagenation(api_name, limit=5000, **kwargs):
    offset = 0
    df = PRO_API.query(api_name, offset=offset, **kwargs)
    if df.empty:
        return df
    df_all = []
    df_all.append(df)

    while df.index.size == limit:
        offset += limit
        df = PRO_API.query(api_name, offset=offset, **kwargs)
        df_all.append(df)
        if df.index.size < limit:
            break

    return pd.concat(df_all)

In [11]:
PRO_API.query("moneyflow_hsgt", trade_date='20260121')

  trade_date    ggt_ss    ggt_sz        hgt        sgt north_money south_money
0   20260121  28536.64  23115.95  154231.36  166984.02   321215.38    51652.58

In [10]:
PRO_API.moneyflow_hsgt(start_date='20180125', end_date='20180808')

    trade_date    ggt_ss    ggt_sz      hgt      sgt north_money south_money
0     20180808   -976.05    -512.0   897.26   760.77     1658.03    -1488.05
1     20180807    -728.9   -157.87  2007.37   977.64     2985.01     -886.77
2     20180806   -858.43  -1242.51  1425.52   1637.6     3063.12    -2100.94
3     20180803    383.13   -245.31  -525.12  1035.69      510.57      137.82
4     20180802  -2500.02   -778.43   731.55  -368.64      362.91    -3278.45
..         ...       ...       ...      ...      ...         ...         ...
121   20180131    4962.0    1147.0  -208.56   356.18      147.62      6109.0
122   20180130    2158.0    1296.0  -169.52    701.3      531.78      3454.0
123   20180129    2949.0    1809.0  -430.01  -283.18     -713.19      4758.0
124   20180126    1923.0    1551.0   2038.0   1143.0      3181.0      3474.0
125   20180125    2365.0     455.0  1490.03   984.32     2474.35      2820.0

[126 rows x 7 columns]